.Frame {
    display: flex;
    grid-template-columns: 50% 50%;
}

.Frame2 {
    display: flex;
    grid-template-columns: 50% 50%;
}

.item7 {
    margin-left: 10px;
    margin-top: 5px;
}

.item8 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.item9 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.item10 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.item11 {
    margin-left: 10px;
    margin-bottom: 20px;
}